threexui:
  panel-port: 2053
  panel-path: ""
  username: ""
  password: ""
  insecure-skip-verify: false
  clients-bytes-rows: 0
  timeout: 120

obfse-scrape-timeout: 30
obfse-metrics-port: "9100"
obfse-metrics-path: "/metrics"
