# obfuscation-server-exporter settings
scrape-timeout: 30
metrics-port: "9100"
metrics-path: "/metrics"

xui-panel-port: 2053
xui-panel-path: ""
xui-username: ""
xui-password: ""
xui-insecure-skip-verify: false
xui-clients-bytes-rows: 0
xui-timeout: 120

mtpm-metrics-port: 9090
mtpm-metrics-path: "/metrics"
